@*@inject AuthenticationStateProvider AuthenticationStateProvider

<button @onclick="Logout">Log out</button>

@code
{
    public async Task Logout()
    {
        ((ExternalAuthStateProvider)AuthenticationStateProvider).Logout();
    }
}*@