<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoBlazorWinform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DemoBlazorWinform.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>62f85080-9912-4a16-b0be-aff63ee2eeea</value>
            </setting>
        </DemoBlazorWinform.Properties.Settings>
    </userSettings>
</configuration>